@use 'sass:map';

// Colors
$dark-purple: #251535;
$deep-purple: #352055;
$medium-purple: #604b70;
$light-purple: #8e6bac;
$dark: #000;
$white: #fff;

// Box-shadow
$box-shadow:
  0px 4px 25px rgba(0, 184, 178, 0.05),
  0px 4px 25px rgba(0, 0, 0, 0.05);

// Container properties
$border-radius: 8px;
$container-gap: 10px;
$padding: 20px;

// Font
$font-primary: Railway, sans-serif;
$font-secondary: 'Open Sans', sans-serif;
$font-sizes: (
  '2xs': 9px,
  'xs': 11px,
  'sm': 13px,
  'md': 14px,
  'lg': 16px,
  'xl': 24px,
);
$font-weights: (
  'light': 300,
  'semimedium': 400,
  'medium': 500,
  'bold': 700,
);

// Media queries
$breakpoints: (
  'sm': 640px,
  'md': 768px,
  'lg': 1024px,
  'xl': 1280px,
  '2xl': 1536px,
);
